<manifest package="com.awesomedroidapps.inappstoragereader"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name=".views.AppDataListActivity"
            android:taskAffinity=".views.AppDataListActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.TableListActivity"
            android:taskAffinity=".views.AppDataListActivity"/>
        <activity android:name=".views.TableDataActivity"
            android:taskAffinity=".views.AppDataListActivity"/>
        <activity android:name=".views.SharedPreferencesActivity"
            android:taskAffinity=".views.AppDataListActivity"/>
    </application>
</manifest>
