<manifest package="com.awesomedroidapps.inappstoragereader"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:label="@string/app_name">

        <activity
            android:name=".views.AppDataListActivity"
            android:label="@string/app_data_list_activity"
            android:launchMode="singleTask"
            android:taskAffinity=".views.AppDataListActivity"
            android:theme="@style/AppStorageReaderTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.TableListActivity"
            android:taskAffinity=".views.AppDataListActivity"
            android:theme="@style/AppStorageReaderTheme" />
        <activity
            android:name=".views.TableDataActivity"
            android:taskAffinity=".views.AppDataListActivity"
            android:theme="@style/AppStorageReaderTheme" />
        <activity
            android:name=".views.SharedPreferencesActivity"
            android:label="@string/shared_preferences_list_activity"
            android:taskAffinity=".views.AppDataListActivity"
            android:theme="@style/AppStorageReaderTheme" />
    </application>
</manifest>