<manifest package="com.awesomedroidapps.inappstoragereader"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <activity
            android:name=".views.AppDataListActivity"
            android:label="@string/com_awesomedroidapps_inappstoragereader_app_data_list_activity"
            android:launchMode="singleTask"
            android:taskAffinity=".views.AppDataListActivity"
            android:theme="@style/ComAwesomeDroidAppStorageReaderTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <!-- TODO anshul.jain To remove this -->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.TableListActivity"
            android:label="@string/com_awesomedroidapps_inappstoragereader_tables_list_activity"
            android:taskAffinity=".views.AppDataListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ComAwesomeDroidAppStorageReaderTheme" />
        <activity
            android:name=".views.TableDataActivity"
            android:taskAffinity=".views.AppDataListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ComAwesomeDroidAppStorageReaderTheme" />
        <activity
            android:name=".views.SharedPreferencesActivity"
            android:label="@string/com_awesomedroidapps_inappstoragereader_shared_preferences_list_activity"
            android:taskAffinity=".views.AppDataListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ComAwesomeDroidAppStorageReaderTheme" />
        <activity
            android:name=".views.QueryDatabaseActivity"
            android:label="@string/com_awesomedroidapps_inappstoragereader_query_database_list_activity"
            android:taskAffinity=".views.AppDataListActivity"
            android:theme="@style/ComAwesomeDroidAppStorageReaderTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".views.QueryResultActivity"
            android:label="@string/com_awesomedroidapps_inappstoragereader_query_database_list_activity"
            android:taskAffinity=".views.AppDataListActivity"
            android:theme="@style/ComAwesomeDroidAppStorageReaderTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".views.ClauseActivity"
            android:label="@string/com_awesomedroidapps_inappstoragereader_query_database_list_activity"
            android:taskAffinity=".views.AppDataListActivity"
            android:theme="@style/ComAwesomeDroidAppStorageReaderTheme"
            android:screenOrientation="portrait"/>
    </application>
</manifest>